* {
  margin: 0;
  padding: 0;
}

/* body {
  object-fit: cover;

} */
body {
  width: 100%;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#picture1 {
  /* display: block; */
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;

  object-fit: cover;

  transform: translate(-50% -50%);
}

#picture2 {
  /* display: block; */
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;

  object-fit: cover;

  transform: translate(-50% -50%);
}

/* #showMe {
  display: none;
} */
